<meta name="description" content="Homophone.com -  A complete list of English Homophones">
<meta name="keywords" content="homophone, homophones, complete list, homophone homework, homophone sentence, teaching homophones, learn English homophones, Learn American homophones, American homophone list, homofono, homofoon, homophon, homonymum,  homophon,  homofonos,   omofono,omofon, essesli sozcuk, xie yin, tong yin, homopon , homofon, huruf sebunyi,  homofons ,  mopoh,xomopoh, chu do ng am,  List of American homophones, American homophones, learn English, English homophones, home schooling, home schooling homophones,  free, free term insurance quote, term insurance quote, homophone.com, aafinancial, Al Aloisi, Alfred Aloisi, Alfred Aloisi Associates, college savings plans, 529 plans, education, Red Bank Web">

<meta name="viewport" value="width=device-width, user-scalable=yes"/>

<%= canonical_tag -%>

<meta property="og:title" content="<%= content_for :title %>"/>
<meta property="og:url" content="<%= canonical_href %>"/>
<meta property="og:site_name" content="<%= t(:site) %>"/>
<meta property="og:type" content="article"/>
<meta property="og:image" content=""/>

<title>Homophones - Your Complete List of Homophones</title>
