<section class="block-section" id="what-is-a-homophone" name="what">
  <div class="container">
    <h1>What is a Homophone?</h1>
    <div class="well">
      <h4>Words that sound alike but have different meanings and spellings.</h4>
      <p>For example: "aye", "eye" and "I".</p>
      <p>
        <%= t(:site) %> is a handy compilation of homophones for anyone who is learning or simply curious about the English language!
        This resource is exceptionally useful for schools and offices as a reference for when spoken English word must be converted to written language.
      </p>
      <%= browse_btn %>
      <%= random_btn %>
    </div>
  </div>
</section>
