<section class="block-section" id="about-the-author" name="author">
  <div class="container">
    <h1>About the author</h1>
    <div class="well">
      <h4>Passionate about English and Education.</h4>
      <p>
        Al Aloisi has been involved in the field of data processing
        and technical procedures for over 40 years.
        Since 1989, he has been a marketer of insurance and financial products
        and has been a guest lecturer in both the data processing and financial fields.
      </p>
      <p>
        For your financial needs such as:
      </p>
      <ul>
        <li>Education Funding,</li>
        <li>Life Insurance, or</li>
        <li>Health Insurance.</li>
      </ul>
      <p>
        Please visit <a href="http://aafinancial.com" target="_blank">aafinancial.com</a>.
      </p>
      <%= browse_btn %>
      <%= random_btn %>
    </div>
  </div>
</section>
