<section class="block-section" id="what-is-a-homophone" name="what">
  <div class="container">
    <header><h1>What is a Homophone?</h1></header>
    <div class="well">
      <h4>Words that sound the same but have different meanings and spellings.</h4>
      <p>For example: "there", "their", "they're".</p>
      <p>
        <%= t(:site) %> is a handy compilation of homophones for anyone who is learning or simply curious about the English language!
        This resource is exceptionally useful for schools and offices as a reference for when spoken English word must be converted to written language.
      </p>
      <p>
        If you want to find words that sound the same but mean something else, words that sound the same but are spelled differently, this is the place to be.
      </p>
      <%= random_btn %>
      <%= browse_btn %>
    </div>
  </div>
</section>
