<section class="block-section" id="why-do-homophones-exist" name="why">
  <div class="container">
    <h1>Why do homophones exist at all?</h1>
    <div class="well">
      <h4>The English language is a "melting pot".</h4>
      <p>
        The English language includes many words derived from other
        languages, businesses, trades, sciences, and industry jargon.
        New technologies, social changes and regional dialects can also introduce new homophones to the language.
      </p>
      <%= browse_btn %>
      <%= random_btn %>
    </div>
  </div>
</section>
