<% make_one_input = Proc.new do |word = nil| %>
  <div data-infinite-inputs-row>
    <div class="row">
      <div class="col-xs-12">
        <h3>Word:</h3>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-3" for="word_set[words][][text]">Definition</label>
      <div class="col-sm-9">
        <input type="text" name="word_set[words][][text]"
               value="<%= word.text if word %>"
               class="form-control" />
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-3" for="word_set[words][][display_text]">Display</label>
      <div class="col-sm-9">
        <input type="text" name="word_set[words][][display_text]"
               value="<%= word.display_text if word %>"
               class="form-control" />
      </div>
    </div>
  </div>
<% end %>


<div class="row">
  <div class="col-sm-7" >
    <%= form_for(@word_set, html: { class: "form-horizontal", role: "form" }) do |f| %>
      <div data-infinite-inputs >
        <% if @word_set.words.count.zero? %>
          <% make_one_input.call() %>
        <% else %>
          <% @word_set.words.find_each &make_one_input %>
        <% end %>
      </div>

      <div class="actions">
        <%= f.submit class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>

  <div class="col-sm-5" >
    <h3>Help</h3>
    <p>
      <strong>Text (required): </strong> the text of the word. Definitions will always be looked up use this word, so it should not be plural or conjugated because usually the plural definition of a word will just say "the plural form of the word X".
    </p>
    <p>
      <strong>Display Text (optional): </strong> include "display text" if the text you want to show the user is different from the word to use to find a definition.
    </p>
  </div>
</div>
