<div class="container">
  <h1>Listing <%= t("model.word_set").pluralize %></h1>

  <div class="card-set-container">
    <% ad_frequency = 3; ad_start = 2 %>
    <% @word_sets.each_with_index do |word_set, i| %>
      <% @word_set = word_set %>
      <%= render partial: 'card' %>

      <%= render "ads/card" if (i + ad_start) % ad_frequency == 0 %>
    <% end %>
  </div>

  <%= link_to 'New Word set', new_word_set_path %>
</div>
