<div class="container">

  <h1>
    <span>Listing <%= t("model.word_set").pluralize %></span>
    <%= link_to 'New Word Set', new_word_set_path, class: "btn btn-info btn-lg btn-xs-full" %>
  </h1>

  <div class="card-set-container">
    <% ad_frequency = 3; ad_start = 2 %>
    <% @word_sets.each_with_index do |word_set, i| %>
      <% @word_set = word_set %>
      <%= render partial: 'card' %>

      <%= render "ads/card" if (i + ad_start) % ad_frequency == 0 %>
    <% end %>
  </div>

</div>
