<h1>Listing <%= t("model.word_set").pluralize %></h1>

<% @word_sets.each do |word_set| %>
  <% @word_set = word_set %>
  <%= render partial: 'card' %>
<% end %>

<%= link_to 'New Word set', new_word_set_path %>
