.btn {
  @include transition(all 0.1s linear);
}

.btn-xs-full,
.btn-sm-full {
  @media (max-width: $screen-xs-max) {
    float: none !important;
    position: relative;
  }
}
.btn-xs-full {
  @media (max-width: $screen-xs-max) {
    display: block !important;
    margin: 16px 0;
  }
}
.btn-sm-full {
  @media (max-width: $screen-sm-max) {
    display: block !important;
    margin: 16px 0;
  }
}

.btn-letter {
  @extend .btn-default;
  min-width: 55px;
  margin-top: 8px;
  margin-left: 4px;
  margin-right: 4px;
}
