.icon-success {
  .fa-stack-2x {
    color: darken($state-success-bg, 25%);
  }
}
.icon-edit {
  .fa-stack-2x {
    color: darken($state-warning-bg, 25%);
  }
}
.icon-delete {
  .fa-stack-2x {
    color: darken($state-danger-bg, 25%);
  }
}

.icon-facebook {
  .fa-stack-2x {
    color: $color-facebook;
  }
}
.icon-twitter {
  .fa-stack-2x {
    color: $color-twitter;
  }
}
.icon-email {
  .fa-stack-2x {
    color: $color-email;
  }
}
