$dropdown-link-hover-bg: #F5F5F5;
$dropdown-link-color:    $text-color;

$ad-card-height:    60px;
$ad-card-padding-v: 25px;
$ad-card-padding-h: 2%;

$word-btn-padding:   21px;
$word-btn-min-width: 96px;

$color-facebook: #3B5998;
$color-twitter:  #00aced;
$color-email:    #dd4b39;
