.btn-xs-full {
  @media (max-width: $screen-xs-max) {
    display: block;
    margin: 16px 0;
  }
}
.btn-sm-full {
  @media (max-width: $screen-sm-max) {
    display: block;
    margin: 16px 0;
  }
}
