// Place all the styles related to the word_sets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// .word-set-card {
//   @extend .col-sm-6;
//   @extend .col-md-4;
//   @extend .col-lg-3;
// }

.card {
  margin: 0;
  width:32%;
  @media (max-width: $screen-md-max) {
    width: 49%;
  }
  @media (max-width: $screen-xs-max) {
    width:100%;
  }
  .btn.word-btn {
    margin: 3px 0;
    min-width: 100px;
  }
  .well {
    margin-bottom: 9px;
  }
  .icon-container {
    position: absolute;
    top: 0;
    right:0;
    .btn-group > .btn {
      margin: 0;
    }
  }
}
