<%= render "ads/horizontal" %>

<section class="block-section" id="footer">
  <footer>
    <div class="container">
      <h1>Get in touch!</h1>
      <p>We're always discovering and adding new homophones to <%= t(:site) %>... In fact, we just added [] 3 days ago! Many new additions are thanks to contributions from users like you.</p>
      <p>If you think we're missing any homophones, let us know by emailing me at <a href="mailto:al@homophone.com">al@homophone.com</a></p>
      <p>You can also visit my main business at <a href="http://aafinancial.com" target="_blank">aafinancial.com</a></p>
    </div>
  </footer>
  
  <div class="dark-background" id="tiny-options">
    Copyright Alfred Aloisi 2008 - 2014 | 
    <%= link_to "Admin", "#" %>
  </div>

</section>
